index.html.erb
<%= link_to "Add a new task", new_task_path %>
<% @tasks.each do |task| %>

<ul>
  <li>
  <% if task.completed %>
    <i class="fas fa-check-circle"></i>
    <% else  %>
    <i class="far fa-times-circle"></i>
    <% end %>
    <%= link_to task.title, task_path(task.id) %>
  </li>

</ul>
<% end %>

